@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(55, 55, 55);
  color: white;
}

a {
  text-decoration: none;
}

/* Font colors */
.white { color: white; }
.purple { color: rgb(135, 67, 141); }

/* Background colors */
.dark-gray { background: rgb(55, 55, 55); }
.light-gray {

}

/* Robot font sizes */
.roboto-large {
  font-size: 18pt;
  font-family: 'Roboto', serif;
}
.roboto-normal {
  font-size: 14pt;
  font-family: 'Roboto', serif;
}
.roboto-small {
  font-size: 11pt;
  font-family: 'Roboto', serif;
}
.roboto-extra-small {
  font-size: 8pt;
  font-family: 'Roboto', serif;
}

/* Robot-Slab font sizes */
.roboto-slab-large {
  font-size: 18pt;
  font-family: 'Roboto Slab', serif;
}
.roboto-slab-normal {
  font-size: 14pt;
  font-family: 'Roboto Slab', serif;
}
.roboto-slab-small {
  font-size: 11pt;
  font-family: 'Roboto Slab', serif;
}
