header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  border-top: 3px solid black;
  background: rgb(38,38,37);
  width: 100%;
  height: 65px;
}

header .menu-icon { 
  display: none; 
}

header .logo { 
  padding-right: 70px; 
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
}
header nav .games { padding-right: 40px; }
header nav .team { padding-right: 45px; }
header nav .news { padding-right: 35px; }
header nav .contact { padding-right: 70px; }
header nav a {
  font-size: 14;
  color: white;
}

header .social {
  display: flex;
}
header .social a {
  padding-right: 14px;
}

header .mobile-menu {
  height: 40px;
  width: 100%;
  background: magenta;
}

@media (max-width: 800px) {
  header { 
    flex-direction: column;
    height: auto;
  }
  header .menu-icon { 
    display: inline; 
    position: fixed;
    left: 10px;
    top: 22px;
    padding-left: 20px;
  }
  header .logo { 
    padding-right: 0; 
    padding-top: 10px;
    height: 55px;
  }
  header nav {
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    width: 100%;
    background: #1f1f1f;
  }
  header nav a {
    font-size: 17pt;
    color: white;
  }
  header nav .games { padding-right: 0; }
  header nav .team { padding-right: 0; }
  header nav .news { padding-right: 0; }
  header nav .contact { padding-right: 0; }


  header .social { display: none; }
}
